/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

.container {
  background-color: #eaf0f2;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 90%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here 
=================================*/
h1 {
  padding: 20px 0;
  color: #667480;
  font-size: 25px;
  text-align: center;
}

/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
.main__menu {
  padding: 20px 0 40px;
  display: flex;
  justify-content: space-between;
}
.main__menu__item {
  width: 210px;
  margin-right: 10px;
}
.main__menu__item > span {
  padding: 15px 10px;
  display: block;
  background-color: #ab9eee;
  color: #ddd8f8;
  font-size: 15px;
  text-align: right;
}
.main__menu__item div {
  height: 170px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
}

.main__menu__item div > span {
  display: inline-block;
  text-align: center;
}
.main__message {
  flex-basis: 55%;
}
.main__message textarea {
  width: 90%;
  height: 250px;
  padding: 10px;
}
.main__yearsubmit {
  flex-basis: 38%;
}
.main__yearsubmit label {
  margin-bottom: 10px;
  display: block;
  color: #abb5bb;
  font-size: 18px;
}
.main__yearsubmit__year {
  width: 40%;
  margin-bottom: 30px;
}
.main__yearsubmit__year input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.main__yearsubmit__submit input {
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  background-color: #0186ef;
  color: #cfe7fc;
  font-size: 20px;
}

form {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

/*=================================
  main styling ends here
=================================*/
/*media query starts*/
@media only screen and (max-width: 995px) {
  .main__menu {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .main__menu__item {
    margin-bottom: 10px;
  }
  .main__message {
    margin-top: 20px;
  }

  form {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */